*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, rgb(64, 66, 185), rgb(60, 143, 90));
}
[v-cloak]{
    display: none;
}
header{
    min-height: 10vh;
    background: url("../images/header.png");
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main{
    min-height: 80vh;
    display: grid;
    grid-auto-flow: column;
    background-image: url("../images/E-Wallet-bro.png");
    background-size: auto 60vh;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: scroll;
    padding: 1rem 1rem;
}
footer{
    min-height: 10vh;
}
main h1, main h2{
    grid-column: 1;
    color: white;    
}

main .grid, main section{
    grid-column: 1;
}
.grid{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(250px,340px));
    grid-gap:10px;
}
#card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 360px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px ;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    background-image: linear-gradient(to right, rgb(59, 39, 151), rgb(18, 121, 56));
  }
  
  #content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #content #heading {
    font-weight: 700;
    font-size: 25px;
  }
  
  #content .para {
    line-height: 1.5;
  }
  
  #content #btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #239307 0%, #05bc15 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  #card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #40a724 0%, #29a423 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card:hover::before {
    height: 100%;
  }
  
  #card:hover {
    box-shadow: none;
  }
  
  #card:hover #btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  #content #btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  #content .btn:active {
    box-shadow: none;
  }
  #table{
    background-color: rgb(239, 229, 229);
    border-collapse: collapse;
    max-width: 70%;
    text-align: center;
  }
  thead{
    font-size: 25px;
    font-weight: bolder;
    padding: 1rem;
    height: 4rem;
  }
th{
    border: 1px solid black;
}
tr td {
    border: 1px solid black;
    font-size: 20px;
}
.img-wallet{
    width: 500px;
    height: 500px;
}
.logo{
  height: 5rem;
}
.nav-item{
  font-size: 20px;
  font-weight: bold;
}
.Btn {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--night-rider);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--af-white);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--af-white);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}
@media screen and (max-width: 320px) {
  header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }
  .logo{
    height: 3rem;
  }
}
  
.btn{
  height: 2rem !important;
  background-color: beige;
  font-size: 15px;
}
.gg{
  margin: 1rem;
}
.gg:hover{
  color: white;
  font-weight: bolder;
}
.logo-t{
  height: 6rem;
}
footer {
  min-height: 10vh;
  display: flex;
  align-items: center;
  background-color: #2c3038;
}
footer a{
  text-decoration: none;
}
