<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./bank-banking-finance-icon_112235.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="./register.css">
    <title>Register Mind Hub Brother</title>
</head>
<body>
    <div id="app">
    <main class="d-flex justify-content-center align-items-center bg-dark">
    <form class="form" >
        <p class="title">Register</p>
        <p class="message">Signup now and get full access to our app. </p>
            <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input" v-model="firstName">
                <span>Firstname</span>
            </label>
    
            <label>
                <input required="" placeholder="" type="text" class="input" v-model="lastName">
                <span>Lastname</span>
            </label>
        </div>  
        <!-- aca flaco -->
        <div class="d-flex flex-column gap-3">
            <label>
                <input required="" placeholder="" type="text" class="input" v-model="email">
                <span>Email</span>
            </label>
            <label>
              <select name="domain" class="input" id="" v-model="emailType">
                <option value="" disabled>Select Domain</option>
                <option value="mindhub.com">mindhub.com</option>
                <option value="mindhub.net">mindhub.net</option>
              </select>
            </label>
        </div>  

        <label>
            <input required="" placeholder="" type="password" class="input" v-model="password">
            <span>Confirm password</span>
        </label>
        <button type="submit" class="submit" @click="register">Submit</button>
        <p class="signin">Already have an acount ? <a href="./login.html">Signin</a> </p>
    </form>
</main>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./register.js"></script>
</body>
</html>