<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/bank-banking-finance-icon_112235.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Mind Hub Brothers</title>
</head>
<body>
    <div id="app" v-cloak>
    <header class="header d-flex gap-5  " >
          <img src="../images/bank.png" alt="Logo Home Banking" id="img-hasbu">
            <nav class="navbar navbar-expand-lg fs-4 ">
                <div class="container-fluid" id="nav">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./accounts.html">Accounts</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./cards.html">Cards</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Loans</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Transacionts</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {{client.firstName}} {{client.lastName}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <button class="Btn" @click.prevent="logOut">
                <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                <div class="text">Logout</div>
              </button> 
    </header>
    <main class="main col-12 d-flex flex-wrap gap-3 justify-content-around">
        <h4 class="text-dark w-100 text-center fs-1 my-2 fw-bold">{{client.firstName}} {{client.lastName}} transactions</h4>
        <div class="d-flex flex-wrap justify-content-between gap-4">
                <div class="code-editor d-flex flex-wrap ">
                  <div class="editor-content p-3 d-flex ">
                    <code class="code d-flex flex-column text-white fs-3 align-items-center justify-content-around p-2 fw-bold">
                          <p class="property">
                          <span class="color-2">Account Number</span><span> : </span>
                          <span class="color-1">{{account.number}}</span>
                        </p>
                        <p class="property">
                          <span class="color-2">Creation Date</span><span> : </span>
                          <span class="color-preview-1"></span><span>{{account.creationDate}}</span>
                        </p>
                        <p class="property">
                          <span class="color-2">Balance</span> : <span></span>
                          <span class="color-1">{{account.balance}}</span>
                        </p>
                      </code>
                  </div>
                </div>
                <section class="table-responsive mt-2 d-flex flex-column align-items-center gap-3">
                  <template v-if="transaction.length > 0 ">
                    <table class="table table-primary table-bordered border-black text-center shadow-lg p-3 rounded" id="table">
                      <thead>
                        <tr class="fs-3">
                          <th>Type</th>
                          <th>Amount</th>
                          <th>Description</th>
                      <th> Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template v-for="(transaction,index) of transaction">
                      <tr class="fs-4">
                        <td :class="transaction.type == 'DEBIT' ? 'text-danger' : 'text-success'">{{transaction.type}}</td>
                        <td>{{transaction.amount}}</td>
                        <td>{{transaction.description}}</td>
                        <td>{{transaction.date}}</td>
                      </template>
                    </tr>
                  </tbody>
                </table>
                <img src="../images/money-transfer.png" alt="Logo Transacionts" class="logo-t">
              </template>
              <section v-else class="d-flex flex-column align-items-center gap-2 " id="no-trans">
                <h2  class="fs-1 fw-bolder text-dark m-1"> No Transaction</h2>
                <article class="no-trans d-flex gap-5 justify-content-between">
                  <img src="../images/payment.png" alt="Logo-1">
                </article>
              </section>
                </section>
          </div>
    </main>
    <footer class="footer d-flex align-items-center justify-content-around fs-3 p-3">
        <div class="d-flex align-items-center justify-content-center gap-3">
          <i class="bi bi-bank2 fs-1 text-dark"></i>
          <span class="fw-bold"> Mind Hub Brother &#169 </span>
        </div>
        <div class="d-flex gap-5 flex-wrap ">
          <a href="tel:+3743614796" class="d-flex gap-2 text-dark fw-bold"><i class="bi bi-telephone-inbound-fill text-dark "></i>Call</a>
          <a href="mailto:fbrunomarcos@gmail.com" class="d-flex gap-2 text-dark fw-bold"><i class="bi bi-envelope-at text-dark"></i>Email</a>
        </div>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="module" src="../scripts/account.js"></script>
</body>
</html>