<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/bank-banking-finance-icon_112235.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Transfer || MindHub Brothers</title>
</head>
<body>
    <div id="app">
        <header class="header d-flex gap-5" >
                <img src="../images/bank.png" alt="Logo Home Banking" id="logo">
                <nav class="navbar navbar-expand-lg fs-4">
                    <div class="container-fluid d-flex flex-column align-items-center" id="nav">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse  text-center" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./accounts.html">Accounts</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="./cards.html">Cards</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Loans</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Transacionts</a>
                            <li class="nav-item">
                              <span class="nav-link">{{client.firstName}} {{client.lastName}}</span>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                  <button class="Btn" @click.prevent="logOut">
                    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div> 
                    <div class="text">Logout</div>
                  </button> 
        </header>
  <main class="main">
    <div class="container p-3">
        <div class="d-flex gap-5 align-items-center justify-content-center flex-wrap">
          <button class="btn btn-success fw-bold btn-lg" type="button" @click.prevent="form2">Own Transfer</button>
          <button class="btn btn-success fw-bold btn-lg" type="button"  @click.prevent="form1">Transfer to third parties</button>
        </div>
      </div>
      <div class="info container d-flex justify-content-evenly gap-2 flex-wrap">
        <div class="d-flex w-100 flex-wrap gap-2 form align-items-center justify-content-center">
        <form class="d-flex flex-column" v-if="showForm1">
          <div class="d-flex">
        <section class="send mx-2 d-flex align-items-center flex-column gap-1">
          <h3 class="text-white">SEND</h3>
          <select class="form-select " multiple aria-label="Multiple select example" v-model="origin">
            <template v-for="account of accounts">
            <option class="m-1" :value="account.number">{{account.number}} || USD {{account.balance}}</option>
          </template>
          </select>
        </section>
        <section class="send mx-2 d-flex align-items-center flex-column gap-1">
          <h3 class="text-white">RECEIVE</h3>
          <select class="form-select" multiple aria-label="Multiple select example" v-model="destination">
            <template v-for="account of accounts">
            <option class="m-1" :value="account.number">{{account.number}} || USD {{account.balance}}</option>
            </template>
          </select>
        </section>
      </div>
        <div class="d-flex flex-column gap-2 align-items-center justify-content-center">
          <div class="input-group mt-3 d-flex flex-column align-items-center">
           <label for="">Amount<input type="number" placeholder="Example: 100" class="form-control" v-model="amount"
             aria-label="Example text with button addon" aria-describedby="button-addon1"></label>
          </div>
          <div class="input-group mt-3 d-flex flex-column align-items-center">
           <label for="">Description<input type="text" placeholder="Description" v-model="description" class="form-control" aria-label="Example text with button addon" aria-describedby="button-addon1"></label>
          </div>
          <div class="input-group my-3 d-flex justify-content-center align-items-center">
          <button class="btn btn-dark" @click.prevent="newTransfer">SEND </button>
          </div>
        </div>
        </form>
        <!-- SECOND FROM -->
        <form class="d-flex flex-column " v-if="showForm2">
         <div class="d-flex flex-column">
        <section class="send mx-2 d-flex align-items-center flex-column gap-1">
          <h3 class="text-white">SEND</h3>
          <select class="form-select " multiple aria-label="Multiple select example" v-model="origin">
            <template v-for="account of accounts">
            <option class="m-1" :value="account.number">{{account.number}} || USD {{account.balance}}</option>
          </template>
          </select>
        </section>
        <section class="send mx-2 d-flex align-items-center justify-content-center flex-column gap-1">
          <div class="input-group">
            <label for="dest" class="ms-3  fs-5 fw-bold">Account destination<input type="text" placeholder="Example: VIN-001" class="form-control" v-model="destination"
              aria-label="Example text with button addon" aria-describedby="button-addon1"></label>
          </div>
          <div class="d-flex flex-column ">
          <div class="input-group">
            <label for="amount" class="fs-5 fw-bold" >Amount <input type="number" placeholder="Example: 100" class="form-control" v-model="amount"
              aria-label="Example text with button addon" aria-describedby="button-addon1"></label>
          </div>
          <div class="input-group">
            <label for="Description" class="fs-5 fw-bold">Description<input type="text" placeholder="Transaction Shop" v-model="description" class="form-control" aria-label="Example text with button addon" aria-describedby="button-addon1"></label>
          </div>
          <div class="input-group my-3 d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-dark" @click.prevent="newTransfer">SEND </button>
          </div>
        </div>
        </section>
        </form>
      </div>
    </div>
  </form>
  </main>
  <footer class="footer d-flex align-items-center justify-content-around fs-2 ">
    <div class="d-flex align-items-center justify-content-center gap-3">
      <i class="bi bi-bank2 fs-5 text-light"></i>
      <span class="text-white fs-5"> Mind Hub Brother &#169 </span>
    </div>
    <div class="d-flex gap-5 flex-wrap ">
      <a href="tel:+3743614796" class="d-flex gap-2 text-white fs-5"><i class="bi bi-telephone-inbound-fill "></i>Call</a>
      <a href="mailto:fbrunomarcos@gmail.com" class="d-flex gap-2 text-white fs-5"><i class="bi bi-envelope-at"></i>Email</a>
    </div>
  </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="../scripts/transfer.js"></script>
</body>
</html>